.tab .divContainer {
  width: 90%;
  padding-left: 90px;
}

.table-border {
  border: 2px solid black;
}

.header {
  background-color: gray !important;

}

.paginator {
  align-content: flex-start;
  text-align: left;
}